<ng-container *ngIf="!isAuthRoute()">
    <ng-container *ngIf="isAuthenticated()">
      <div class="flex flex-col min-h-screen sm:min-h-screen">
        <div class="fixed top-0 left-0 w-full z-50">
          <div class="flex-shrink-0 bg-green-600">
            <app-navbar></app-navbar>
          </div>
        </div>
        <div class="flex flex-row flex-1">
          <div
            [ngClass]="{ 'w-80': !isCollapsed, 'w-20': isCollapsed }"
            class="bg-gray-900 h-full fixed left-0 top-[73px] lg:top-[96px] z-50"
          >
            <button
              (click)="toggleCollapse()"
              class="text-white text-3xl w-full py-7 border-t border-b border-white"
            >
              <i *ngIf="isCollapsed" class="fas fa-bars"></i>
              <i *ngIf="!isCollapsed" class="fas fa-times"></i>
            </button>
            <ul class="flex-grow" *ngIf="!isCollapsed">
              <li 
                routerLink="/dashboard"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-home pr-4"></i>
                <a>Dashboard</a>
              </li>
              <li 
                routerLink="/category"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-list pr-4"></i>
                <a>Categories</a>
              </li>
              <li
                routerLink="/menu"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-cutlery pr-4"></i>
                <a>Menu</a>
              </li>
              <li *ngIf="!isAdmin()"
                routerLink="/order"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-credit-card pr-4"></i>
                <a>Orders</a>
              </li>
              <li *ngIf="isAdmin()"
                routerLink="/review"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-star pr-4"></i>
                <a>Dashboard</a>
              </li>
            </ul>
            <ul class="flex-grow" *ngIf="isCollapsed">
              <li 
                routerLink="/dashboard"
                class="px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-3xl fa fa-home"></i>
              </li>
              <li 
                routerLink="/category"
                class="text-white text-2xl px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-2xl fa fa-list pr-4"></i>
              </li>
              <li
                routerLink="/menu"
                class="px-7 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-3xl fa fa-cutlery"></i>
              </li>
              <li *ngIf="!isAdmin()"
                routerLink="/order"
                class="px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-3xl fa fa-credit-card"></i>
              </li>
              <li *ngIf="isAdmin()"
                routerLink="/review"
                class="px-6 py-5 hover:bg-blue-800 cursor-pointer"
              >
                <i class="text-white text-3xl fa fa-star"></i>
              </li>
            </ul>
          </div>
  
          <div
            [ngClass]="{ 'ml-80': !isCollapsed, 'ml-20': isCollapsed }"
            class="flex-1 bg-gray-200 pt-[70px] lg:pt-[93px]"
          >
            <router-outlet class="w-full"></router-outlet>
          </div>
        </div>

        <footer class="bg-gray-900 text-gray-500">
          <div class="max-w-6xl mx-auto py-8 px-4 sm:px-6 lg:px-8 flex flex-wrap">
            <div class="w-full md:w-1/3 lg:w-1/4 mb-4 md:mb-0">
              <h3 class="text-lg font-medium mb-4">Connect with us</h3>
              <div class="flex">
                <a href="#" class="text-gray-500 hover:text-white mr-4">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-white mr-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-white">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 mb-4 md:mb-0">
              <h3 class="text-lg font-medium mb-4">Address</h3>
              <p class="text-gray-500">123 Main Street</p>
              <p class="text-gray-500">Anytown, India 123456</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 mb-4 md:mb-0">
              <h3 class="text-lg font-medium mb-4">Phone Numbers</h3>
              <p class="text-gray-500">Main: (+91) 55555-55555</p>
              <p class="text-gray-500">Fax: (+91) 77777-77777</p>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 mb-4 md:mb-0">
              <h3 class="text-lg font-medium mb-4">Subscribe</h3>
              <form class="flex flex-col">
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="py-2 px-3 rounded-lg mb-2 bg-gray-800 text-gray-500"
                />
                <button
                  type="submit"
                  class="py-2 px-4 bg-purple-500 hover:bg-purple-600 rounded-lg text-white font-medium"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="border-t border-gray-800 py-4 px-4 sm:px-6 lg:px-8 text-center">
            <p class="text-gray-500">
              &copy; 2023 Coffee Chronicles. All rights reserved.
            </p>
          </div>
        </footer>

      </div>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated()">
      <div class="fixed top-0 left-0 w-full z-50">
        <app-navbar></app-navbar>
      </div>
      <div class="pt-[93px]">
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isAuthRoute()">
    <router-outlet></router-outlet>
  </ng-container>
  