
<div class="min-h-screen bg-gradient-to-r from-gray to-gray-200">
    <div class="text-gray-800 py-4">
      <div class="flex justify-between max-w-4xl mx-auto px-4">
        <div
          class="bg-white rounded-lg shadow-lg py-2 px-4 hover:scale-105 transition-all transform w-40 hover:bg-white-600"
        >
          <h3 class="text-2xl font-bold">Total Orders</h3>
          <span class="text-3xl font-bold">{{ ordersLength }}</span>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg py-2 px-4 hover:scale-105 transition-all transform w-40 hover:bg-white-600"
        >
          <h3 class="text-2xl font-bold">Total Menu Items</h3>
          <span class="text-3xl font-bold">{{ menuItems?.length }}</span>
        </div>
      </div>
      <div class="mt-12">
      <h2 class="text-2xl font-bold text-center">Recent Orders</h2>
    </div>
    </div>

    

    <!-- <ng-container class=" mb-50">  -->
    <div class="mb-5 mr-5 ml-5">
<mat-card>
    <mat-form-field >
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
</div>  

<div class="responsive_table mb-20 mr-5 ml-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="contactNumber">
          <th mat-header-cell *matHeaderCellDef>Contact Number</th>
          <td mat-cell *matCellDef="let element">{{element.contactNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef>Payment Method</th>
          <td mat-cell *matCellDef="let element">{{element.paymentMethod}}</td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{element.totalAmount}}</td>
      </ng-container>

      <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="primary" matTooltip="View Bill" matTooltipPosition="above" (click)="handleViewAction(element)">
                  <mat-icon>visibility</mat-icon>
              </button>

              <button mat-icon-button color="primary" matTooltip="Download Bill" matTooltipPosition="above" (click)="downloadReportAction(element)">
                  <mat-icon>summarize</mat-icon>
              </button>

              <button *ngIf="getRole()" mat-icon-button color="primary" matTooltip="Delete" matTooltipPosition="above" (click)="deleteBill(element.id)">
                  <mat-icon>delete</mat-icon>
              </button>
              <button *ngIf="!getRole() && element.active" mat-icon-button color="primary" matTooltip="Give Review" matTooltipPosition="above" (click)="handleReviewAction(element)">
                <mat-icon>rate_review</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>

  </table>
</div>



    <!-- </ng-container> -->



    <ng-container
      *ngIf="!(allOrders$ | async) || (allOrders$ | async)?.length === 0"
    >
      <h1 class="text-black text-3xl font-bold text-center mt-8">
        No orders yet
      </h1>
    </ng-container>
  </div>

  

  