/* viewuser.component.css */
:host {
  display: block;
  height: 700px; 
}
.user-card {
    width: 800px;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
   
  }
  /* .user-card-scrollable {
    overflow: hidden;
  }
  
  .scrollable-content {
    max-height: 100px; 
    overflow-y: auto;
  } */
  
  .responsive_table {
    height: 40%; 
    overflow-y: auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 20px;
  }
  