<div class="min-h-screen bg-gradient-to-r from-gray to-gray-200">

    <ng-container >
        <div
          class="flex flex-col items-center justify-center px-6 py-16 lg:py-8 mx-auto md:h-screen"
        >
          <div
            class="backdrop-blur-lg hover:backdrop-blur-xl w-full rounded-lg shadow-2xl md:mt-0 sm:max-w-md xl:p-0"
          >
            <form
              [formGroup]="addItemForm"
              (ngSubmit)="changePassword(addItemForm.value)"
              class="bg-white rounded-lg p-6"
            >
              <div class="mb-4">
                <label for="oldPassword" class="block text-gray-700 font-bold mb-2"
                  >Old Password</label
                >
                <input
                  type="text"
                  id="oldPassword"
                  formControlName="oldPassword"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                />
              </div>
              <div class="mb-4">
                <label for="newPassword" class="block text-gray-700 font-bold mb-2"
                  >New Password</label
                >
                <input
                  type="text"
                  id="newPassword"
                  formControlName="newPassword"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                />
              </div>
              
             
              <div class="flex justify-center">
                <button
                  type="submit"
                  [disabled]="addItemForm.invalid"
                  class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
                >
                  Submit
                  <i class="text-2xl text-white "></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
</div>
